STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_PRICE_ID=price_1TQWpcCk2t7YRcTVDHlhW6LD
STRIPE_YEARLY_PRICE_ID=price_1TQXdWCk2t7YRcTVtOHFMKWe
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_INSFORGE_BASE_URL=https://8nvz4ijc.eu-central.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=replace_with_insforge_anon_token
INSFORGE_BASE_URL=https://8nvz4ijc.eu-central.insforge.app
INSFORGE_SERVICE_KEY=replace_with_insforge_service_key
